p #{name} você solicitou a recuperação de senha, sua senha foi resetada para o valor abaixo 
p #{password_reset}
p Por favor, faça o login e altere sua senha.
p Caso não tenha sido você que solicitou a recuperação de senha, por favor entre em contato conosco